@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,600');

@font-face {
                          font-family: "LithosPro-Black";
                          src: url('../fonts/LithosPro-Black.otf') format("opentype");
                        }
                        
.a1splash {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1080px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a1splash .bg {
  background-color    : rgba(247, 247, 247, 1.0);
  top                 : 0px;
  height              : 1079px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a1splash .muddypalsicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 133px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 555px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a1splash .muddypalsicon .muddypalsicon1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 133px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a1splash .welcome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 216px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 522px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LithosPro-Black", Helvetica, Arial, serif;
  font-size           : 72.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 86.0px;
}
.a1splash .underlinebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 893px;
  height              : 43px;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 555px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a1splash .underlinebutton:hover {
  transform           : scale(2);
}
.a1splash .underlinebutton .underlinebutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 331px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a1splash .underlinebutton .underlinebutton1 .product1price {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.a1splash .underlinebutton .underlinebutton1 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 2px;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a1splash .cat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 347px;
  height              : 424px;
  width               : 424px;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a1splash .cat:hover {
  transform           : scale(1.1);
}
.a1splash .cat .cat1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 424px;
  width               : 424px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a1splash .cat .cat1:hover {
  transform           : scale(1.1);
}
.a1splash .sectiontitlecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 811px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 512px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 29.0px;
  color               : rgba(55, 55, 56, 1.0);
  text-align          : left;
  line-height         : 39.0px;
}
.a1splash .dog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 347px;
  height              : 424px;
  width               : 424px;
  position            : absolute;
  margin              : 0;
  left                : 712px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a1splash .dog:hover {
  transform           : scale(1.1);
}
.a1splash .dog .dog1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 424px;
  width               : 424px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a1splash .dog .dog1:hover {
  transform           : scale(1.1);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}