@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,600');

@font-face {
                          font-family: "LithosPro-Black";
                          src: url('../fonts/LithosPro-Black.otf') format("opentype");
                        }
                        
.a6detail {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1916px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.a6detail .quantadjust {
  background-color    : rgba(255,255,255,0.0);
  top                 : 775px;
  height              : 63px;
  width               : 203px;
  position            : absolute;
  margin              : 0;
  left                : 951px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .quantadjust .clickminus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 49px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .quantadjust .clickminus:hover {
  transform           : scale(1.8);
}
.a6detail .quantadjust .clickminus .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .quantadjust .clickminus .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(185, 192, 0, 1.0);
  text-align          : left;
  line-height         : 49.0px;
}
.a6detail .quantadjust .clickadd {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 49px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .quantadjust .clickadd:hover {
  transform           : scale(1.8);
}
.a6detail .quantadjust .clickadd .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .quantadjust .clickadd .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(185, 192, 0, 1.0);
  text-align          : left;
  line-height         : 49.0px;
}
.a6detail .quantadjust .sizel1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .quantadjust .sizel1 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .quantadjust .sizel1 .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 2px;
  height              : 59px;
  box-sizing          : border-box;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  border-style        : solid;
  border-width        : 4px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .quantadjust .sizel1 .ss {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.a6detail .mochadogharness {
  background-color    : rgba(255,255,255,0.0);
  top                 : 317px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 65.0px;
}
.a6detail .mochadogharness1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 317px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 65.0px;
}
.a6detail .mochadogharness2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 317px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 65.0px;
}
.a6detail .nopullharnessfor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 922px;
  height              : auto;
  width               : 594px;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.a6detail .breastgirth3646 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 637px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 855px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.a6detail .a3999 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 407px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 48.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 65.0px;
}
.a6detail .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 551px;
  height              : 63px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 732px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .oval:hover {
  transform           : translate(0, -5px);
}
.a6detail .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 551px;
  height              : 63px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 815px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .oval1:hover {
  transform           : translate(0, -5px);
}
.a6detail .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 551px;
  height              : 63px;
  width               : 63px;
  position            : absolute;
  margin              : 0;
  left                : 899px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .oval2:hover {
  transform           : translate(0, -5px);
}
.a6detail .sizess {
  background-color    : rgba(255,255,255,0.0);
  top                 : 683px;
  height              : 63px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .sizess:hover {
  transform           : translate(0, -5px);
}
.a6detail .sizess .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .sizess .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 2px;
  height              : 59px;
  box-sizing          : border-box;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  border-style        : solid;
  border-width        : 4px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .sizess .ss {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.a6detail .sizes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 683px;
  height              : 63px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 858px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .sizes:hover {
  transform           : translate(0, -5px);
}
.a6detail .sizes .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .sizes .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 2px;
  height              : 59px;
  box-sizing          : border-box;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  border-style        : solid;
  border-width        : 4px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .sizes .ss {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.a6detail .sizem {
  background-color    : rgba(255,255,255,0.0);
  top                 : 683px;
  height              : 63px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 996px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .sizem:hover {
  transform           : translate(0, -5px);
}
.a6detail .sizem .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .sizem .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 2px;
  height              : 59px;
  box-sizing          : border-box;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  border-style        : solid;
  border-width        : 4px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .sizem .ss {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.a6detail .sizel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 683px;
  height              : 63px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 1134px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .sizel:hover {
  transform           : translate(0, -5px);
}
.a6detail .sizel .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 63px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .sizel .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 2px;
  height              : 59px;
  box-sizing          : border-box;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  border-style        : solid;
  border-width        : 4px;
  border-color        : rgba(0, 0, 0, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .sizel .ss {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.a6detail .sizem1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 637px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.a6detail .quantity {
  background-color    : rgba(255,255,255,0.0);
  top                 : 782px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.a6detail .colornavyblue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 497px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.a6detail .hasslefreeoureas {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1090px;
  height              : auto;
  width               : 625px;
  position            : absolute;
  margin              : 0;
  left                : 720px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 33.0px;
}
.a6detail .addtocart {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1532px;
  height              : 97px;
  width               : 398px;
  position            : absolute;
  margin              : 0;
  left                : 960px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .addtocart:hover {
  transform           : scale(1.1);
}
.a6detail .addtocart .rectanglecopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 97px;
  width               : 398px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .addtocart .rectanglecopy6 .rectangle {
  background-color    : rgba(185, 191, 5, 1.0);
  top                 : 0px;
  height              : 97px;
  width               : 398px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .addtocart .rectanglecopy6 .addtocart1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : auto;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 36.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 49.0px;
}
.a6detail .underlinebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1641px;
  height              : 43px;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 978px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .underlinebutton:hover {
  transform           : scale(2);
}
.a6detail .underlinebutton .underlinebutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 43px;
  width               : 331px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .underlinebutton .underlinebutton1 .product1price {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 331px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : center;
  line-height         : 33.0px;
}
.a6detail .underlinebutton .underlinebutton1 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : 2px;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .picl {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 317px;
  height              : 429px;
  width               : 535px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .picl .rectangle {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 0px;
  height              : 429px;
  width               : 535px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .picl .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -14px;
  height              : 440px;
  width               : 660px;
  position            : absolute;
  margin              : 0;
  left                : -61px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bigpic {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 775px;
  height              : 110px;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 549px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bigpic .mask {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 0px;
  height              : 110px;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bigpic .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 116px;
  width               : 226px;
  position            : absolute;
  margin              : 0;
  left                : -23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bitmap {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 775px;
  height              : 110px;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 411px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bitmap .mask {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 0px;
  height              : 110px;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bitmap .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 121px;
  width               : 145px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bitmap1 {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 775px;
  height              : 110px;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 273px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bitmap1 .mask {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 0px;
  height              : 110px;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bitmap1 .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 135px;
  width               : 151px;
  position            : absolute;
  margin              : 0;
  left                : -9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bitmap2 {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 775px;
  height              : 110px;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bitmap2 .mask {
  background-color    : rgba(130, 184, 217, 1.0);
  top                 : 0px;
  height              : 110px;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .bitmap2 .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 159px;
  width               : 246px;
  position            : absolute;
  margin              : 0;
  left                : -72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .back {
  background-color    : rgba(255,255,255,0.0);
  top                 : 282px;
  height              : 30px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .back .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .back .sectiontitlecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(185, 192, 0, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.a6detail .back .triangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.a6detail .p1headerbanner {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 254px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .p1headerbanner .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 254px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .p1headerbanner .headerbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 152px;
  height              : 99px;
  width               : 1312px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .p1headerbanner .hoversearch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : 32px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 1200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .p1headerbanner .hoversearch .icons {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .p1headerbanner .hoversearch .icons:hover {
  
}
.a6detail .p1headerbanner .hoversearch .icons .iconsearch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .p1headerbanner .hoversearch .headersectiontitle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(55, 55, 56, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.a6detail .p1headerbanner .hoversearch .headersectiontitle6:hover {
  transform           : scale(1.1);
  color               : #ffffff;
  text-shadow         : 2px 2px 5px grey;
}
.a6detail .p1headerbanner .headersectiontitle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 791px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(55, 55, 56, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.a6detail .p1headerbanner .headersectiontitle5:hover {
  transform           : scale(1.1);
  color               : #ffffff;
  text-shadow         : 2px 2px 5px grey;
}
.a6detail .p1headerbanner .headersectiontitle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 654px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(55, 55, 56, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.a6detail .p1headerbanner .headersectiontitle4:hover {
  transform           : scale(1.1);
  color               : #ffffff;
  text-shadow         : 2px 2px 5px grey;
}
.a6detail .p1headerbanner .headersectiontitle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 510px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(55, 55, 56, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.a6detail .p1headerbanner .headersectiontitle3:hover {
  transform           : scale(1.1);
  color               : #ffffff;
  text-shadow         : 2px 2px 5px grey;
}
.a6detail .p1headerbanner .headersectiontitle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 260px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(55, 55, 56, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.a6detail .p1headerbanner .headersectiontitle2:hover {
  transform           : scale(1.1);
  color               : #ffffff;
  text-shadow         : 2px 2px 5px grey;
}
.a6detail .p1headerbanner .headersectiontitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(55, 55, 56, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.a6detail .p1headerbanner .headersectiontitle1:hover {
  transform           : scale(1.1);
  color               : #ffffff;
  text-shadow         : 2px 2px 5px grey;
}
.a6detail .p1headerbanner .shoppingcart {
  background-color    : rgba(255,255,255,0.0);
  top                 : 89px;
  height              : 48px;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 1144px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .p1headerbanner .shoppingcart:hover {
  transform           : scale(0.9);
}
.a6detail .p1headerbanner .shoppingcart .textonclickshoppingcart {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.a6detail .p1headerbanner .shoppingcart .iconshoppingcart {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 156px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .p1headerbanner .cartcount {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 1332px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.a6detail .p1headerbanner .cartcount:hover {
  transform           : scale(1.8);
}
.a6detail .p1headerbanner .cartcount .cartcountbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .p1headerbanner .cartcount .cartcountnumer0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : auto;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 15.0px;
}
.a6detail .p1headerbanner .muddypalsicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 133px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 555px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.a6detail .p1headerbanner .muddypalsicon .muddypalsicon1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 133px;
  width               : 330px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}